<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdp.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noshadow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_noshadow"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp">
        <activity
            android:name=".ProductDetailView"
            android:exported="true" >


        </activity>
        <activity
            android:name=".TempActivity"
            android:exported="true"></activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".SplashScrActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PWresetActivity" />
    </application>

</manifest>